* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}




.overlay-text1 {
    
   font-family: Arial, sans-serif;
    position: relative; 
    top: 10vw;
     font-size: 3vw;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    z-index: 1; /* Текст выше картинки */
}

.fon2 {
    position: absolute; /* Картинка позиционируется относительно контейнера */
    top: 90%;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1; /* Картинка на заднем плане */
    opacity: 1;
    object-fit: cover;
      mask-image: linear-gradient(to top,  rgba(0,0,0,1) 50%,  rgba(0,0,0,0) 100%);                             

    clip-path: polygon(
  0% 0%,        /* Левый верхний угол */
        100% 0%,      /* Правый верхний угол */
        100% 85%,     /* Правый нижний угол с отступом */
        75% 95%,      /* Центральная точка справа */
        25% 100%,     /* Центральная точка слева */
        0% 90%     
    );
       
}



